* {
  box-sizing: border-box;
}

h1 {text-align: center;}

body {
  background-color: black;
  color: white;
  font-family: 'Dosis', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/*Form*/
#search-form {
  margin: 0 auto;
  border: 2px solid white;
  min-width: 60%;
}

label {
  float: left;
  display: inline-block;
  text-align: right;
  min-width: 140px;
}

input {

}

.form-buttons {
  display: block;
  text-align: center;
}

button {
  width: 120px;
  background-color: #3be3f9;
  border: 2px solid #2eb2e6;
}


/*Modal*/
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(28, 87, 58, 0.4);
}

.modal-content {
  background-color: #161955;
  margin: 15% auto; /*15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
}

.modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  color: #000000;
  text-decoration: none;
}


/*Display Flights*/
.flights-list {
  list-style: none;
  margin: 0 auto;
  width: 80%;
    max-width: 750px;
    padding-left: 0;
}

.flight-entry {
  text-align: center;
  border: 2px solid white;
  background-color: #364755;
  margin-top: 20px;
  margin-bottom: 20px;

}

#close {
    float:right;
    display:inline-block;
    padding:0px 2px;
    background:#ccc;
}

#close:hover {
  color:#fff;
}

.hidden {display: none;}

.delayed{
  background-color: red;
}
