* {
  box-sizing: border-box;
}

h1 {text-align: center;}

body {
  background-color: black;
  color: white;
  font-family: 'Dosis', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/*Form*/
#search-form {
  margin: 0 auto;
  border: 2px solid white;
  min-width: 60%;
}

label {
  float: left;
  display: inline-block;
  text-align: right;
  min-width: 140px;
}

input {

}

.form-buttons {
  display: block;
  text-align: center;
}

button {
  width: 120px;
  background-color: #3be3f9;
  border: 2px solid #2eb2e6;
}


/*Display Flights*/
.flights-list {
  list-style: none;
  margin: 0 auto;
  width: 80%;
    max-width: 750px;
    padding-left: 0;
}

.flight-entry {
  text-align: center;
  border: 2px solid white;
  background-color: #364755;
  margin-top: 20px;
  margin-bottom: 20px;

}

#close {
    float:right;
    display:inline-block;
    padding:0px 2px;
    background:#ccc;
}

#close:hover {
  color:#fff;
}
